/*Navbar*/
body{
    background: #faf9f7;
}
.home{
    background-image: url("Web\ Page\ background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.navbar .container-fluid {
  align-items: center;

}

.nav-link{
    color: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
}
.nav-link:hover{
    color: rgb(165, 165, 154);
}
nav{
    border-radius: 3px;
    display: flex;
}
.nav-link.disabled{
    color: antiquewhite;
}
form{
    display: flex;
    align-self: start;
    margin-top: 10px;
}
.main{
    text-align: center;
    color: beige;
    padding: 120px;
}
.main h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
}
.main p{
    max-width: 650px;
    margin: 20px auto;
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;   
}
form.d-flex {
    display: flex;
    align-items: stretch;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    overflow: hidden;           
    background: rgba(255,255,255,0.15);
    border: 1px solid antiquewhite;
}

.search-bar input {
    flex: 1;
    height: 100%;
    border: 1px;
    background: transparent;
    padding: 0 14px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.search-bar button {
    height: 100%;
    border: none;
    background-color: #c9b27d;
    padding: 0 22px;
    color: #222;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #b59c64;
    color: #fff;
}
.navbar {
    position: relative;
}

.cart-wrapper {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1000;
}

.cart {
    width: 50px;
    display: block;
    border-radius: 5px;
}
.cart:hover{
    background-color: #343028;
    color: #fff;

}

.search-bar {
    margin-right: 80px;
}
/*Why us*/
.Why{
    padding: 50px;
    font-family: 'Playfair Display';
    color: #b59c64;
    background-color: #faf9f7;
    border-color: #faf9f7;
}
.choose-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  align-items: center;
 background: #faf9f7;
box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
border-radius: 16px;
}

.choose-grid img {
  width: 100%;
}

.choose-text h2 {
    text-align: center;
  margin: 0;
  color: #b59c64;
  font-family: 'Playfair Display';
}

.choose-text p {
     text-align: center;
  margin-top: 12px;
  line-height: 1.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  align-items: center;
 background: #faf9f7;
box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
border-radius: 16px;
}

.design img {
  width: 100%;
}

.design-text h2 {
  margin: 0;
  color: #b59c64;
  font-family: 'Playfair Display';
  text-align: center;
}

.design-text p {
  margin-top: 12px;
  text-align: center;
  line-height: 1.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 /*Contact Us*/

.contact {
  max-width: 900px;
  margin: 120px auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.contact h3 {
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: 400;
}

.inputs form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 40px;
  text-align: left;
}


.email, .subject, .submit {
  grid-column: 1 / -1;
}


label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

input[type="text"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  padding: 5px 0;
  font-size: 16px;
  background: transparent;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}


input:focus,
textarea:focus {
  border-bottom-color: #010101;
}

textarea {
  resize: none;
  margin-top: 10px;
}

.submit {
  text-align: center;
  margin-top: 40px;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid #b59c64;
  color: #b59c64;
  padding: 5px 5px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background: #b59c64;
  color: #fff;
}
footer{
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 30px 20px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media ( max-width: 780px) {
    
}
